/* Site validation by W3C: CSS3 / "No error found" */
body {
	background: rgba(255,255,255,1);
	color: rgba(51,51,51,1);
	font-family: 'PT Sans', 'Open Sans', 'century gothic', sans-serif;
	font-size: 1em; /* 16px responsive design */
	font-weight: lighter;
	line-height: 1.62em;
	width: 100%;
}
p a:link, p a:visited {
	border-bottom: thin solid rgba(140,140,140,1);
	color: rgba(140,140,140,1);
	font-weight: normal;
	padding-bottom: 1px;
	text-decoration: none;
}
p a:active, p a:hover {
	border-bottom: thin solid rgba(255,40,80,1);
	color: rgba(255,40,80,1);
}
h1 {
	border-bottom: 3px solid rgba(51,51,51,1);
	color: rgba(51,51,51,1);
	display: inline-block;
	/* font-family: 'Open Sans', 'PT sans', 'century gothic', sans-serif; */
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 2.5em; /* 35px responsive design > 40px */
	/* font-weight: bold; */
	font-weight: normal;
	line-height: 1.62em;
	margin-bottom: 40px;
	text-transform: uppercase;
}
h2 {
	color: rgba(51,51,51,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1.62em; /* 25px responsive design > 25.92px */
	font-style: italic;
	line-height: 1.62em;
	margin-bottom: 10px;
}
h2 a:link, h2 a:visited {
	border-bottom: thin solid rgba(255,40,80,1);
	color: rgba(255,40,80,1);
	font-weight: normal;
	padding-bottom: 1px;
	text-decoration: none;
}
h2 a:active, h2 a:hover {
	border-bottom: thin solid rgba(51,51,51,1);
	color: rgba(51,51,51,1);
}
h3 {
	font-size: 1.15em; /* 18px responsive design > 18.4px */
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}
h4 {
	color: rgba(51,51,51,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: .95em; /* 15px responsive design > 15.2px */
	font-weight: lighter;
	line-height: 1.62em;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
hr {
	border: thin solid rgba(51,51,51,1);
	margin: 15px 0;
	width: 1.25em; /* 20px responsive design > 20px */
}
header#pageHeader {
	background: rgba(249,249,249,1);
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}
main {
	background: rgba(249,249,249,1);
	display: block;
	margin-top: 3.75em; /* 60px responsive design */
	width: 100%;
}
footer#pageFooter {
	background: rgba(51,51,51,1);
	display: block;
	height: 2em;
	padding: 0 15%;
	width: 70%; /* added for responsive design */
}
section#projects, section#services, section#contact {
	padding: 10% 15%; /* 150px 15%  changed for responsive design */
	width: 70%; /* added for responsive design */
}
section#about {
	background: rgba(249,249,249,1);
	height: 70vh;
	padding: 0 15%;
	width: 70%; /* added for responsive design */
}
section#projects, section#services {	
	background: rgba(255,255,255,1);
}
section#projects {	
	border-bottom: medium solid rgba(249,249,249,1);
}
section#contact {
	background: rgba(249,249,249,1);
}
blockquote {
	background: rgba(249,249,249,1);
	padding: 1% 15%;
	text-align: right;
	width: 70%; /* added for responsive design */
}
/* Header content */
nav#stickyPageNav {
	background: rgba(249,249,249,1);
	border-top: 3px solid rgba(51,51,51,1);
	display: block;
	height: 3.75em; /* 60px responsive design */
	left: 0;
	margin: 0;
	/* overflow: hidden; */
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999;
}
ul#pageMenu {
	display: block;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0 4%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
ul#pageMenu a {
	display: block;
	line-height: 3.75em; /* 60px responsive design */
	padding: 0 30px;
}
li.pageLogo a {
	float: left;
}
li.pageMenuContact a, li.pageMenuContact a:link, li.pageMenuContact a:visited {
	background: rgba(51,51,51,1);
	color: rgba(255,255,255,1);
	float: right;
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em; /* 16px responsive design */
	font-weight: normal;
	text-decoration: none;
}
li.pageMenuContact a:active, li.pageMenuContact a:hover {
	text-decoration: underline;
}
li.pageMenuList a, li.pageMenuList a:link, li.pageMenuList a:visited {
	color: rgba(51,51,51,1);
	float: right;
	/* font-family: 'Open Sans', 'PT sans', 'century gothic', sans-serif; */
	font-family: 'Times New Roman', Times, Georgia, serif;
	/* font-size: 14px; */
	font-size: 1em; /* 16px responsive design */
	/* font-weight: bold; */
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}
li.pageMenuList a:active, li.pageMenuList a:hover {
	color: rgba(51,51,51,1);
	text-decoration: underline;
}
img.logoImg {
	vertical-align: middle;
	width: 9.375em; /* 150px responsive design */
}



/* Mobile navigation */
nav#stickyPageNavResponsive {
	background: rgba(249,249,249,1);
	border-top: 3px solid rgba(51,51,51,1);
	display: block;
	height: 3.75em; /* 60px responsive design */
	left: 0;
	margin: 0;
	position: fixed;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 999999;
}
div.navMobile {
	line-height: 3.75em; /* 60px responsive design */
}
div.mobileLogo {
	float: left;
	padding-left: 5%;
}
div.hamburgerIcon {
	float: right;
	padding-right: 5%;
}
div.dropDownMenu {
	background: rgba(249,249,249,1);
	display: none;
	height: auto;
	position: absolute;
	width: 100%;
}
.expand {
	display: block;
}
img.mobileLogoImg {
	vertical-align: middle;
	width: 9.375em; /* 150px responsive design */
}
img.hamburgerIconImg {
	vertical-align: middle;
	width: 2em;
}
img.closeIconImg {
	vertical-align: middle;
	width: 2em;
}
ul#pageMenuMobile {
	display: block;
	list-style-type: none;
	margin: 0;
	/* overflow: hidden; responsive design */
	padding: 0; /* desktop navigation 0 4% */
	/* position: relative;
	top: 50%;
	transform: translateY(-50%); responsive design */
}
ul#pageMenuMobile a {
	display: block;
	/* line-height: 60px;
	padding: 0 30px; responsive design */
}
li.pageMenuContactMobile a, li.pageMenuContactMobile a:link, li.pageMenuContactMobile a:visited {
	background: rgba(51,51,51,1);
	color: rgba(255,255,255,1);
	float: none;
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em; /* 16px responsive design */
	font-weight: normal;
	margin: 0; /* responsive design */
	padding: 2.5% 10%; /* responsive design */
	text-align: left;
	text-decoration: none;
	text-transform: none;
}
li.pageMenuContactMobile a:active, li.pageMenuContactMobile a:hover {
	text-decoration: underline;
}
li.pageMenuListMobile a, li.pageMenuListMobile a:link, li.pageMenuListMobile a:visited {
	background: rgba(249,249,249,1);
	border-bottom: thin solid rgba(51,51,51,1);
	color: rgba(51,51,51,1);
	float: none;
	/* font-family: 'Open Sans', 'PT sans', 'century gothic', sans-serif; */
	font-family: 'Times New Roman', Times, Georgia, serif;
	/* font-size: 14px; */
	font-size: 1em; /* 16px responsive design */
	/* font-weight: bold; */
	font-weight: normal;
	margin: 0; /* responsive design */
	padding: 2.5% 10%; /* responsive design */
	text-align: left;
	text-decoration: none;
	text-transform: none;
}
li.pageMenuListMobile a:active, li.pageMenuListMobile a:hover {
	text-decoration: underline;
}
li.pageMenuCloseMobile, li.pageMenuCloseMobile a, li.pageMenuCloseMobile a:link, li.pageMenuCloseMobile a:visited {
	background: rgba(249,249,249,1);
	border-bottom: none;
	color: rgba(51,51,51,1);
	float: none;
	/* font-family: 'Open Sans', 'PT sans', 'century gothic', sans-serif; */
	font-family: 'Times New Roman', Times, Georgia, serif;
	/* font-size: 14px; */
	font-size: 1em; /* 16px responsive design */
	/* font-weight: bold; */
	font-weight: normal;
	margin: 0; /* responsive design */
	padding: 0 5%; /* responsive design */
	text-align: right;
	text-decoration: none;
	text-transform: none;
}
li.pageMenuCloseMobile a:active, li.pageMenuCloseMobile a:hover {
	text-decoration: none;
}
/* End Mobile navigation */



/* End of Header content*/
/* Main Content */
div.aboutProfile {
	padding: 200px 0;
	width: 35%;
}
p.quote {
	color: rgba(51,51,51,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1.62em; /* 25px responsive design > 25.92px */
	font-style: italic;
	line-height: 1.62em;
	margin-bottom: 10px;
}
p.quote a:link, p.quote a:visited {
	border-bottom: thin solid rgba(255,40,80,1);
	color: rgba(255,40,80,1);
	font-weight: normal;
	padding-bottom: 1px;
	text-decoration: none;
}
p.quote a:active, p.quote a:hover {
	border-bottom: thin solid rgba(51,51,51,1);
	color: rgba(51,51,51,1);
}
div.projectSummary {
	background: rgba(255,255,255,1);
	float: left;
	width: 30%;
}
ul.projectInfo {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div.projectVisual {
	color: rgba(51,51,51,1);
	float: left;
	margin-bottom: 150px;
	margin-left: 15%;
	text-align: center;
	max-width: 55%; /* max- respoonsive design */
}
div.projectGallery {
	background: rgba(255,255,255,1);
	border-bottom: thin solid rgba(140,140,140,1);
	color: rgba(51,51,51,1);
	padding: 5%;
	text-align: center;
	max-width: 90%; /* max- responsive design */
}
img.appleResponsiveProject {
	/* max-width: 600px; responsive design */
	width: 100%;
}
img.projectGalleryVisual {
	/* max-width: 1000px; responsive design */
	width: 100%;
}
p.projectDetails {
	color: rgba(140,140,140,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: .95em; /* 15px responsive design > 15.2px */
	font-style: italic;
	font-weight: lighter;
	line-height: 1.62em;
}
div.frontEnd, div.webDesign, div.cms {
	float: left;
	text-align: center;
	width: 25%;
}
div.frontEnd {
	margin: 5% 5% 0 7.5%;
}
div.webDesign {
	margin: 5% 5% 0 0;
}
div.cms {
	margin: 5% 7.5% 0 0;
}
ul.skillsList {
	display: block;
	list-style-type: none;
}
li.skills {
	background: rgba(249,249,249,1);
	color: rgba(51,51,51,1);
	margin-bottom: 10px;
	padding: 1.875em 1.25em; /* 30px 20px responsive design */
}
p.skillDescription {
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: .95em; /* 15px responsive design > 15.2px */
	font-weight: lighter;
	line-height: 1.62em;
}
div.emailContact {
	float: left;
	width: 45%;
}
div.location {
	float: left;
	text-align: right;
	width: 55%;
}
p.aContact { 
	color: rgba(51,51,51,1);
	font-family: 'PT Sans', 'Open Sans', 'century gothic', sans-serif;
	font-size: 1em; /* 16px responsive design */
	font-weight: lighter;
	line-height: 1.62em;
}
p.aContact a:link, p.aContact a:visited {
	border-bottom: 2px solid rgba(255,40,80,1);
	color: rgba(255,40,80,1);
	font-weight: lighter;
	text-decoration: none;
}
p.aContact a:active, p.aContact a:hover {
	color: rgba(140,140,140,1);
	border-bottom: 2px solid rgba(140,140,140,1);
}
/* div.wufooContactForm {
	margin: 20px 0 0 -10px;
	padding: 0;
} */
/* End Main Content */
/* Footer */
ul#copyrightCredits {
	color: rgba(140,140,140,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: .88em; /* 14px responsive design > 14.08px */
	font-weight: lighter;
	list-style-type: none;
	margin: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
li.copyrightLeft {
	float: left;
}
li.creditsRight {
	float: right;
}
ul li.creditsRight a, ul li.creditsRight a:link, ul li.creditsRight a:visited {
	border-bottom: none;
	color: rgba(192,192,192,1);
	font-weight: normal;
	padding: 0;
	text-decoration: none;
}
ul li.creditsRight a:active, ul li.creditsRight a:hover {
	border-bottom: none;
	color: rgba(140,140,140,1);
}
/* End Footer */
/* Back to top button */
div.button {
	background: none;
	border: none;
	bottom: 2em;
	position: fixed;
	right: 2em;
}
a.backToTop, .backToTop, .backToTop:link, .backTopTop:visited {
	background: rgba(0,0,0,.2);
	color: rgba(255,255,255,1);
	display: block;
	font-family: futura, sans-serif;
	font-size: 1.25em; /* 20px responsive design > 20px */
	padding: 8px 15px;
	text-decoration: none;
} 
.backToTop:active, .backToTop:hover {
	background: rgba(0,0,0,.6);
}
/* End back to top button */
/* Clear float */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
/* End of clear float */
/* PORTRAIT smartphones */
@media only screen and (max-width: 400px) {
	body {
		font-size: .88em; /* desktop 16px to smartphone 14px */
	}
	nav#stickyPageNav {
		display: none;
		visibility: hidden;
	}
	nav#stickyPageNavResponsive {
		visibility: visible;
	}
	section#projects, section#services, section#contact {
		padding: 25% 10%; /* desktop 10% 15% */
		width: 80%;
	}
	section#about {
		padding: 0 10%; /* desktop 15% */
		width: 80%;
	}
	div.aboutProfile {
		padding: 10% 0 0 0; /* desktop 200px 0 */
		width: 100%; /* desktop 35% */
	}
	blockquote {
		background: rgba(249,249,249,1);
		padding: 1% 10%; /* desktop 15% */
		text-align: center;
		width: 80%; /* added for responsive design */
	}
	footer#pageFooter {
		height: 4em; /* desktop 2em */
		padding: 0 10%; /* desktop 15% */
		width: 80%;
	}
	div.projectSummary {
		float: none;
		width: 100%;
	}
	div.projectVisual {
		float: none;
		margin: 15% 0; /* desktop 0 15% 150px 0 */
		text-align: center;
		max-width: 100%;
	}
	div.projectGallery {
		padding: 0;
		max-width: 100%;
	}
	div.frontEnd, div.webDesign, div.cms {
		float: none;
		margin: 15% 0 0 0;
		width: 100%; /* desktop 25% */
	}
	div.emailContact {
		float: none;
		margin-bottom: 4em;
		width: 100%;
	}
	div.location {
		float: none;
		width: 100%;
	}
	li.copyrightLeft {
		float: none;
		text-align: center;
	}
	li.creditsRight {
		float: none;
		text-align: center;
	}
	div.button {
		display: none;
		visibility: hidden;
	}
}
/* LANDSCAPE smartphones + PORTRAIT TABLETS */
@media only screen and (min-width: 480px) (max-width: 800px) {

}