body {
	background: rgba(249,249,249,1);
	color: rgba(51,51,51,1);
	font-family: 'PT Sans', 'Open Sans', 'century gothic', sans-serif;
	font-size: 1em; /* 16px */
	font-weight: normal;
	line-height: 1.62em;
	width: 100%;
}
header#siteheader, main#siteMain, footer#siteFooter, header#headerProject, footer#footerProjectPage {
	display: block;
}
header#siteHeader, main#siteMain {
	margin: 0;
	padding: 0;
	width: 100%;
}
header#headerProject {
	width: 100%;
}
footer#siteFooter {
	background: rgba(220,220,220,1);
	height: 2em;
	padding: 0 5%;
	width: 90%;
}
footer#footerProjectPage {
	background: rgba(249,249,249,1);
	padding: 2em 0;
	width: 100%;
}
section#webDevelopmentDesign, section#contact {
	background: rgba(249,249,249,1);
	display: block;
	height: auto;
	padding: 12.5em 5% 0 5%;
	width: 90%;
}
section#projectImages {
	margin: 5% 0;
	padding: 0;
	width: 100%;
}
article {
	display: block;
	padding: 0 20%;
}
h1 {
	color: rgba(220,220,220,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 2.5em; 
	font-weight: normal;
	line-height: 1.62em;
}
h2 {
	color: rgba(51,51,51,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 2em; 
	font-weight: bold;
	line-height: 1.62em;
}
h3 {
	color: rgba(51,51,51,1);
	display: inline-block;
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1.5em; 
	font-weight: normal;
	line-height: 1.62em;
}
h4 {
	color: rgba(51,51,51,1);
	font-family: 'PT Sans', 'Open Sans', 'century gothic', sans-serif;
	font-size: 1em; 
	font-style: none;
	font-weight: bold;
	line-height: 1.62em;
	text-transform: uppercase;
}
p a, p a:link, p a:visited {
	border-bottom: 2px solid rgba(255,40,80,1);
	color: rgba(255,40,80,1);
	font-family: 'PT Sans', 'Open Sans', 'century gothic', sans-serif;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.62em;
	padding: .125em;
	text-decoration: none; 
}
p a:hover, p a:active {
	border-bottom: none;
}
a.projectPageLinkBackToIndex, a.projectPageLinkBackToIndex:link, a.projectPageLinkBackToIndex:visited {
	border-bottom: none;
	color: rgba(51,51,51,1);
	font-family: 'PT Sans', 'Open Sans', 'century gothic', sans-serif;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.62em;
	padding: 0;
	text-decoration: none;
}
a.projectPageLinkBackToIndex:hover, a.projectPageLinkBackToIndex:active {
	color: rgba(255,40,80,1);
}
span.servicesClientTeaserCaption {
	color: rgba(255,255,255,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em; 
	font-style: italic;
	font-weight: normal;
	text-transform: none;
}
span.servicesClientCaption {
	color: rgba(51,51,51,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em; 
	font-style: italic;
	font-weight: normal;
	text-transform: none;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
hr {
	border: 3px solid rgba(51,51,51,1);
}
nav#siteStickyNav {
	display: block;
	left: 0;
	position: fixed;
	top: 0;
	visibility: visible;
	width: 100%;
	z-index: 10;
}
ul#siteNavLogoSocial {
	background: rgba(249,249,249,1);
	height: 5em;
	list-style-type: none;
	margin: 0;
	padding: 0 5%;
}
li.listSiteLogoLeft {
	float: left;
	line-height: 5em;
	width: 12.5em; 
}
li.listSiteSocialRight {
	float: right;
	padding-top: 1.5em;
	width: auto;
}
ul#siteNavSocialIcons {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li.listSocialIcons {
	float: left;
	padding: 0 0 0 .3125em;
	width: 1.6875em;
}
ul#siteNavMenuProjects {
	background: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li.listSiteMenu {
	float: left;
	padding: 1.25em 5%;
}
ul#siteMenu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li.listMenu {
	color: rgba(51,51,51,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em;
	font-weight: normal;
	padding-bottom: .125em;
}
li.listMenu a, li.listMenu a:link, li.listMenu a:visited {
	border-bottom: none;
	color: rgba(51,51,51,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em;
	font-weight: normal;
	padding-bottom: .125em;
	text-decoration: none;
}
li.listMenu a:hover, li.listMenu a:active {
	border-bottom: 2px solid rgba(51,51,51,1);
	color: rgba(51,51,51,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em;
	text-decoration: none;
}
li.listSiteProjects {
	float: right;
	padding: 1.25em 5%;
}
ul#siteProjects {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
li.listProjects {
	color: rgba(51,51,51,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em;
	font-weight: normal;
	padding-bottom: .125em;
}
li.listProjects a, li.listProjects a:link, li.listProjects a:visited {
	border-bottom: none;
	color: rgba(51,51,51,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em;
	font-weight: bold;
	padding-bottom: .125em;
	text-decoration: none;
}
li.listProjects a:hover, li.listProjects a:active {
	border-bottom: 2px solid rgba(51,51,51,1);
}
img.iconProject {
	padding: 0 0.3125em 0 0;
	width: 1.625em;
}
img.imgOriginalWidth {
	width: 100%;
}
/* RESPONSIVE NAVIGATION */
nav#siteStickyNavResponsive {
	background: rgba(249,249,249,1);
	display: none;
	left: 0;
	position: fixed;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 10;
}
ul#siteNavLogoSocialResponsive {
	background: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li.listSiteLogoLeftResponsive {
	float: left;
	padding: 1.25em 5%;
	width: 12.5em;
}
li.hamburgerIcon {
	float: right;
	padding: 1em 5%;
}
img.hamburgerIconImg {
	width: 2em;
}
li.dropDownMenu {
	background: rgba(249,249,249,.98);
	display: none;
	height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
img.closeIconImg {
	padding-top: 1em;
	width: 2em;
}
ul#pageMenuMobile {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0; 
}
ul#pageMenuMobile a {
	display: block;
}
li.pageMenuGeneralMobile a, li.pageMenuGeneralMobile a:link, li.pageMenuGeneralMobile a:visited {
	border-bottom: thin solid rgba(220,220,220,1);
	color: rgba(51,51,51,1);
	float: none;
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em; 
	font-weight: normal;
	margin: 0;
	padding: 2.5% 5%;
	text-align: left;
	text-decoration: none;
	text-transform: none;
}
li.pageMenuGeneralMobile a:active, li.pageMenuGeneralMobile a:hover {
	color: rgba(220,220,220,1);
	text-decoration: none;
}
li.pageMenuListMobile a, li.pageMenuListMobile a:link, li.pageMenuListMobile a:visited {
	border-bottom: thin solid rgba(220,220,220,1);
	color: rgba(51,51,51,1);
	float: none;
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	padding: 2.5% 5%;
	text-align: left;
	text-decoration: none;
	text-transform: none;
}
li.pageMenuListMobile a:hover, li.pageMenuListMobile a:active {
	color: rgba(220,220,220,1);
	text-decoration: none;
}
li.pageMenuCloseMobile, li.pageMenuCloseMobile a, li.pageMenuCloseMobile a:link, li.pageMenuCloseMobile a:visited {
	border-bottom: none;
	color: rgba(51,51,51,1);
	float: none;
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0 5%;
	text-align: right;
	text-decoration: none;
	text-transform: none;
}
li.pageMenuCloseMobile a:hover, li.pageMenuCloseMobile a:active {
	text-decoration: none;
}
/* END RESPONSIVE NAVIGATION */
/* PROJECT PAGE NAVIGATION */
nav#siteStickyNavProjectPage { 
	display: block;
	left: 0;
	position: fixed;
	top: 0;
	visibility: visible;
	width: 100%;
	z-index: 10;
}
ul#siteNavLogoSocialProjectPage {
	background: rgba(249,249,249,1);
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li.listSiteLogoLeftProjectPage {
	float: left;
	padding: 1.25em 5%;
	width: 12.5em;
}
li.hamburgerIconProjectPage {
	float: right;
	padding: 1em 5% 1em 0;
}
img.hamburgerIconImg {
	width: 2em;
}
li.dropDownMenuProjectPage {
	background: rgba(249,249,249,.95);
	display: none;
	height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
img.closeIconImg {
	padding-top: 1em;
	width: 2em;
}
ul#pageMenuProjectPage {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0; 
}
ul#pageMenuProjectPage a {
	display: block;
}
li.pageMenuGeneralProjectPage a, li.pageMenuGeneralProjectPage a:link, li.pageMenuGeneralProjectPage a:visited {
	border-bottom: thin solid rgba(220,220,220,1);
	color: rgba(51,51,51,1);
	float: none;
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 2.5em; 
	font-weight: normal;
	margin: 0;
	padding: 2.5% 5%;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}
li.pageMenuGeneralProjectPage a:active, li.pageMenuGeneralProjectPage a:hover {
	color: rgba(220,220,220,1);
}
li.pageMenuListProjectPage a, li.pageMenuListProjectPage a:link, li.pageMenuListProjectPage a:visited {
	border-bottom: thin solid rgba(220,220,220,1);
	color: rgba(51,51,51,1);
	float: none;
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 2.5em;
	font-weight: bold;
	margin: 0;
	padding: 2.5% 5%;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}
li.pageMenuListProjectPage a:hover, li.pageMenuListProjectPage a:active {
	color: rgba(220,220,220,1);
}
li.pageMenuCloseProjectPage, li.pageMenuCloseProjectPage a, li.pageMenuCloseProjectPage a:link, li.pageMenuCloseProjectPage a:visited {
	color: rgba(51,51,51,1);
	float: none;
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0 5%;
	text-align: right;
	text-decoration: none;
	text-transform: none;
}
li.pageMenuCloseProjectPage a:hover, li.pageMenuCloseProjectPage a:active {
	text-decoration: none;
}
li.pageMenuSocialProjectPage {
	border-bottom: thin solid rgba(220,220,220,1);
	color: rgba(51,51,51,1);
	float: none;
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: 1em; 
	font-weight: normal;
	margin: 0;
	padding: 2.5% 5%;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}
ul#siteNavSocialIconsProjectPage {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 26em;
}
li.listSocialIconsProjectPage {
	float: left;
	padding: 0 .3125em 0 0;
	width: 2.5em;
}
li.menuBackLink {
	background: none;
	float: left;
	padding: 1em 0 1em 5%;
}
/* END PROJECT PAGE NAVIGATION */
div.headingOne {
	border-top: thin solid rgba(220,220,220,1);
	margin: 0 20% 5% 20%;
	text-align: left;
	width: 60%;
}
div.teaserPortfolio {
	margin: 0 5%;
	padding: 0;
	width: 90%;
}
ul.portfolioGalleryTeaser {
	list-style-type: none;
	margin: 0 20%;
	padding: 0;
}
li.client {
	display: block;
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	width: 50%;
}
li.client img {
	display: block;
	line-height: 0;
	margin: 0;
	padding: 0;
}
figure {
	display: block;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: top;
	width: 100%;
}
figcaption {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	vertical-align: middle;
	width: 100%;
}
figcaption div {
	color: rgba(255,255,255,1);
	display: block;
	height: 100%;
	opacity: 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	top: 40%;
	vertical-align: middle;
	width: 100%;
}
figure:hover figcaption {
	background: rgba(51,51,51,.95);
}
figcaption:hover div {
	opacity: 1;
}
div.workIntro {
	margin: 0 20% 2em 20%;
	padding: 0;
	text-align: left;
	width: 60%;
}
div.headerTitle {
	float: left;
	width: 50%;
}
div.projectDescription {
	float: left;
	width: 50%;
}
ul.projectUnorderedList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
li.projectImageList {
	margin: 1em 0;
	width: 100%;
}
div.contactListAbout {
	float: left;
	margin: 0 2.5% 12.5em 0;
	padding: 0;
	text-align: right;
	width: 47.5%;
}
div.contactListContact {
	float: left;
	margin: 0 0 12.5em 2.5%;
	padding: 0 25% 0 0;
	text-align: left;
	width: 22.5%;
}
/* ADDITION for responsive: CONNECT */
div.siteConnectIconsResponsive {
	border-top: thin solid rgba(220,220,220,1);
	clear: both;
	display: none;
	margin: 3.125em 0 0 0;
	padding-bottom: 1.25em;
	visibility: hidden;
}
ul#siteNavSocialIconsResponsive {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li.listSocialIconsResponsive {
	float: left;
	margin: 2%;
	padding: 5%; 
	text-align: center;
	width: 18%; 
}
img.imgSocialWidthResponsive {
	width: 2.5em;
}
/* END ADDITION for responsive: CONNECT */
ul#linkPreviousNextProject {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li.previousProject {
	float: left;
	text-align: left;
	width: 33.33%;
}
li.projectNumberFooterProjectPage {
	float: left;
	text-align: center;
	width: 33.33%;
}
li.nextProject {
	float: left;
	text-align: right;
	width: 33.33%;
}
ul li.previousProject, li.nextProject {
	color: rgba(220,220,220,1);
	font-family: 'PT Sans', 'Open Sans', 'century gothic', sans-serif;
	font-size: .9375em;
	font-weight: normal;
	padding-bottom: 0;
	text-transform: uppercase;
} 
ul li.projectNumberFooterProjectPage {
	color: rgba(51,51,51,1);
	font-family: 'PT Sans', 'Open Sans', 'century gothic', sans-serif;
	font-size: .9375em;
	font-weight: normal;
	padding-bottom: 0;
	text-transform: uppercase;
} 
ul li.previousProject a, li.previousProject a:link, li.previousProject a:visited, li.nextProject a, li.nextProject a:link, li.nextProject a:visited {
	border-bottom: none;
	color: rgba(255,40,80,1);
	font-family: 'PT Sans', 'Open Sans', 'century gothic', sans-serif;
	font-size: .9375em;
	font-weight: normal;
	padding-bottom: 0;
	text-decoration: none;
	text-transform: uppercase;
} 
ul li.previousProject a:hover, li.previousProject a:active, li.nextProject a:hover, li.nextProject a:active {
	border: none;
	color: rgba(51,51,51,1);
	font-family: 'PT Sans', 'Open Sans', 'century gothic', sans-serif;
	font-weight: normal;
	text-decoration: none;
}
ul#siteCopyrightCredits {
	list-style-type: none;
	margin: 0;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
li.siteCopyrightLeft {
	float: left;
	text-align: left;
}
li.siteCreditsRight {
	float: right;
	text-align: right;
}
ul li.siteCopyrightLeft, li.siteCreditsRight {
	color: rgba(169,169,169,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-size: .875em;
	font-weight: normal;
	padding-bottom: .125em;
} 
ul li.siteCopyrightLeft a, li.siteCopyrightLeft a:link, li.siteCopyrightLeft a:visited, li.siteCreditsRight a, li.siteCreditsRight a:link, li.siteCreditsRight a:visited {
	border-bottom: 1px solid rgba(169,169,169,1);
	color: rgba(169,169,169,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-weight: normal;
	padding-bottom: .125em;
	text-decoration: none;
} 
ul li.siteCopyrightLeft a:hover, li.siteCopyrightLeft a:active, li.siteCreditsRight a:hover, li.siteCreditsRight a:active {
	border: none;
	color: rgba(169,169,169,1);
	font-family: 'Times New Roman', Times, Georgia, serif;
	font-weight: normal;
	text-decoration: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
/* RESPONSIVE DESIGN - @media queries for 240 x 319 | 320 x 479 | 480 x 639 | 640 x 767 | 768 x 959 | 960 x 1023 | 1024 x 1223 | 1224 x 1679 */
/* Responsive: PORTRAIT small smartphones */
@media only screen and (min-width: 240px) and (max-width: 319px) {
	section#webDevelopmentDesign {
		padding: 25% 5% 0 5%;
	}
	footer#siteFooter {
		height: 4em;
	}
	nav#siteStickyNav {
		display: none;
		visibility: hidden;
	}
	nav#siteStickyNavProjectPage { 
		display: none;
		visibility: hidden;
	}
	nav#siteStickyNavResponsive {
		display: block;
		visibility: visible;
	}
	div.headingOne {
		border-top: thin solid rgba(220,220,220,1);
		margin: 0 0 10% 0;
		text-align: left;
		width: 100%;
	}
	div.workIntro {
		margin: 0 0 2em 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	ul.portfolioGalleryTeaser {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li.client {
		display: block;
		float: left;
		height: auto;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	figcaption {
		background: rgba(51,51,51,.5);
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		vertical-align: middle;
		width: 100%;
	}
	figcaption div {
		color: rgba(255,255,255,1);
		display: block;
		height: 100%;
		opacity: 1;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		top: 40%;
		vertical-align: middle;
		width: 100%;
	}
	figure:hover figcaption {
		background: none;
	}
	figcaption:hover div {
		opacity: 0;
	}
	article {
		display: block;
		padding: 0;
	}
	div.headerTitle {
		float: none;
		margin: 0 0 2em 0;
		width: 100%;
	}
	div.projectDescription {
		float: none;
		margin: 0 0 4em 0;
		width: 100%;
	}
	div.contactListAbout {
		float: none;
		margin: 1.875em 0 2em 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	div.contactListContact {
		float: none;
		margin: 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	div.siteConnectIconsResponsive {
		display: block;
		visibility: visible;
	}
	li.siteCopyrightLeft {
		float: none;
		text-align: center;
	}
	li.siteCreditsRight {
		float: none;
		text-align: center;
	}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
	section#webDevelopmentDesign {
		padding: 25% 5% 0 5%;
	}
	footer#siteFooter {
		height: 4em;
	}
	nav#siteStickyNav {
		display: none;
		visibility: hidden;
	}
	nav#siteStickyNavProjectPage { 
		display: none;
		visibility: hidden;
	}
	nav#siteStickyNavResponsive {
		display: block;
		visibility: visible;
	}
	div.headingOne {
		border-top: thin solid rgba(220,220,220,1);
		margin: 0 0 10% 0;
		text-align: left;
		width: 100%;
	}
	div.workIntro {
		margin: 0 0 2em 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	ul.portfolioGalleryTeaser {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li.client {
		display: block;
		float: left;
		height: auto; 
		margin: 0;
		padding: 0;
		width: 100%;
	}
	figcaption {
		background: rgba(51,51,51,.5);
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		vertical-align: middle;
		width: 100%;
	}
	figcaption div {
		color: rgba(255,255,255,1);
		display: block;
		height: 100%;
		opacity: 1;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		top: 40%;
		vertical-align: middle;
		width: 100%;
	}
	figure:hover figcaption {
		background: none;
	}
	figcaption:hover div {
		opacity: 0;
	}
	article {
		display: block;
		padding: 0;
	}
	div.headerTitle {
		float: none;
		margin: 0 0 2em 0;
		width: 100%;
	}
	div.projectDescription {
		float: none;
		margin: 0 0 4em 0;
		width: 100%;
	}
	div.contactListAbout {
		float: none;
		margin: 0 0 2em 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	div.contactListContact {
		float: none;
		margin: 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	div.siteConnectIconsResponsive {
		display: block;
		visibility: visible;
	}
	li.siteCopyrightLeft {
		float: none;
		text-align: center;
	}
	li.siteCreditsRight {
		float: none;
		text-align: center;
	}
}
@media only screen and (min-width: 480px) and (max-width: 639px) {
	section#webDevelopmentDesign {
		padding: 20% 5% 0 5%;
	}
	footer#siteFooter {
		height: 4em;
	}
	nav#siteStickyNav {
		display: none;
		visibility: hidden;
	}
	nav#siteStickyNavProjectPage { 
		display: none;
		visibility: hidden;
	}
	nav#siteStickyNavResponsive {
		display: block;
		visibility: visible;
	}
	div.headingOne {
		border-top: thin solid rgba(220,220,220,1);
		margin: 0 0 10% 0;
		text-align: left;
		width: 100%;
	}
	div.workIntro {
		margin: 0 0 2em 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	ul.portfolioGalleryTeaser {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li.client {
		display: block;
		float: left;
		height: auto;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	figcaption {
		background: rgba(51,51,51,.5);
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		vertical-align: middle;
		width: 100%;
	}
	figcaption div {
		color: rgba(255,255,255,1);
		display: block;
		height: 100%;
		opacity: 1;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		top: 40%;
		vertical-align: middle;
		width: 100%;
	}
	figure:hover figcaption {
		background: none;
	}
	figcaption:hover div {
		opacity: 0;
	}
	article {
		display: block;
		padding: 0;
	}
	div.headerTitle {
		float: none;
		margin: 0 0 2em 0;
		width: 100%;
	}
	div.projectDescription {
		float: none;
		margin: 0 0 4em 0;
		width: 100%;
	}
	div.contactListAbout {
		float: none;
		margin: 1.875em 0 2em 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	div.contactListContact {
		float: none;
		margin: 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	div.siteConnectIconsResponsive {
		display: block;
		visibility: visible;
	}
	li.siteCopyrightLeft {
		float: none;
		text-align: center;
	}
	li.siteCreditsRight {
		float: none;
		text-align: center;
	}
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
	section#webDevelopmentDesign {
		padding: 15% 5% 0 5%;
	}
	footer#siteFooter {
		height: 4em;
	}
	nav#siteStickyNav {
		display: none;
		visibility: hidden;
	}
	nav#siteStickyNavProjectPage { 
		display: none;
		visibility: hidden;
	}
	nav#siteStickyNavResponsive {
		display: block;
		visibility: visible;
	}
	div.headingOne {
		border-top: thin solid rgba(220,220,220,1);
		margin: 0 5% 10% 5%;
		text-align: left;
		width: 90%;
	}
	div.workIntro {
		margin: 0 5% 2em 5%;
		padding: 0;
		text-align: left;
		width: 90%;
	}
	ul.portfolioGalleryTeaser {
		list-style-type: none;
		margin: 0 5%;
		padding: 0;
	}
	li.client {
		display: block;
		float: left;
		height: auto;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	figcaption {
		background: rgba(51,51,51,.5);
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		vertical-align: middle;
		width: 100%;
	}
	figcaption div {
		color: rgba(255,255,255,1);
		display: block;
		height: 100%;
		opacity: 1;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		top: 40%;
		vertical-align: middle;
		width: 100%;
	}
	figure:hover figcaption {
		background: none;
	}
	figcaption:hover div {
		opacity: 0;
	}
	article {
		display: block;
		padding: 0 5%;
	}
	div.headerTitle {
		float: none;
		margin: 0 0 2em 0;
		width: 100%;
	}
	div.projectDescription {
		float: none;
		margin: 0 0 4em 0;
		width: 100%;
	}
	div.contactListAbout {
		float: none;
		margin: 1.875em 5% 2em 5%;
		padding: 0;
		text-align: left;
		width: 90%;
	}
	div.contactListContact {
		float: none;
		margin: 0 5%;
		padding: 0 5% 0 0 ;
		text-align: left;
		width: 85%;
	}
	div.siteConnectIconsResponsive {
		display: block;
		margin: 3.125em 5% 0 5%;
		visibility: visible;
	}
	li.siteCopyrightLeft {
		float: none;
		text-align: center;
	}
	li.siteCreditsRight {
		float: none;
		text-align: center;
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	section#webDevelopmentDesign {
		padding: 15% 5% 0 5%;
	}
	footer#siteFooter {
		height: 4em;
	}
	nav#siteStickyNav {
		display: none;
		visibility: hidden;
	}
	nav#siteStickyNavProjectPage { 
		display: none;
		visibility: hidden;
	}
	nav#siteStickyNavResponsive {
		display: block;
		visibility: visible;
	}
	div.headingOne {
		border-top: thin solid rgba(220,220,220,1);
		margin: 0 5% 10% 5%;
		text-align: left;
		width: 90%;
	}
	div.workIntro {
		margin: 0 5% 2em 5%;
		padding: 0;
		text-align: left;
		width: 90%;
	}
	ul.portfolioGalleryTeaser {
		list-style-type: none;
		margin: 0 5%;
		padding: 0;
	}
	li.client {
		display: block;
		float: left;
		height: auto;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	figcaption {
		background: rgba(51,51,51,.5);
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		vertical-align: middle;
		width: 100%;
	}
	figcaption div {
		color: rgba(255,255,255,1);
		display: block;
		height: 100%;
		opacity: 1;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		top: 45%;
		vertical-align: middle;
		width: 100%;
	}
	figure:hover figcaption {
		background: none;
	}
	figcaption:hover div {
		opacity: 0;
	}
	article {
		display: block;
		padding: 0 5%;
	}
	div.headerTitle {
		float: left;
		margin: 0;
		width: 45%;
	}
	div.projectDescription {
		float: left;
		margin: 0;
		width: 55%;
	}
	div.contactListAbout {
		float: left;
		margin: 0 3% 4em 5%;
		padding: 0;
		text-align: right;
		width: 37%;
	}
	div.contactListContact {
		float: left;
		margin: 0 2% 4em 3%;
		padding: 0 5% 0 0 ;
		text-align: left;
		width: 40%;
	}
	div.siteConnectIconsResponsive {
		display: block;
		margin: 3.125em 5% 0 5%;
		visibility: visible;
	}
	li.listSocialIconsResponsive {
		float: left;
		margin: 2% 1% 10% 1%;
		padding: 1%; 
		text-align: center;
		width: 7%; 
	}
	img.imgSocialWidthResponsive {
		width: 2em; /* px */
	}
	li.siteCopyrightLeft {
		float: none;
		text-align: center;
	}
	li.siteCreditsRight {
		float: none;
		text-align: center;
	}
}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
	footer#siteFooter {
		height: 2em;
	}
	nav#siteStickyNav {
		display: block;
		visibility: visible;
	}
	nav#siteStickyNavProjectPage { 
		display: block;
		visibility: visible;
	}
	nav#siteStickyNavResponsive {
		display: none;
		visibility: hidden;
	}
	div.headingOne {
		border-top: thin solid rgba(220,220,220,1);
		margin: 0 5% 10% 5%;
		text-align: left;
		width: 90%;
	}
	div.workIntro {
		margin: 0 5% 2em 5%;
		padding: 0;
		text-align: left;
		width: 90%;
	}
	ul.portfolioGalleryTeaser {
		list-style-type: none;
		margin: 0 5%;
		padding: 0;
	}
	li.client {
		display: block;
		float: left;
		height: auto;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	figcaption {
		background: rgba(51,51,51,.5);
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		vertical-align: middle;
		width: 100%;
	}
	figcaption div {
		color: rgba(255,255,255,1);
		display: block;
		height: 100%;
		opacity: 1;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		top: 45%;
		vertical-align: middle;
		width: 100%;
	}
	figure:hover figcaption {
		background: none;
	}
	figcaption:hover div {
		opacity: 0;
	}
	article {
		display: block;
		padding: 0 5%;
	}
	div.headerTitle {
		float: left;
		margin: 0;
		width: 50%;
	}
	div.projectDescription {
		float: left;
		margin: 0;
		width: 50%;
	}
	div.contactListAbout {
		float: left;
		margin: 0 0.1% 6em 5%;
		padding: 0;
		text-align: right;
		width: 39.9%;
	}
	div.contactListContact {
		float: right;
		margin: 0 5% 6em 0.1%;
		padding: 0;
		text-align: left;
		width: 39.9%;
	}
	div.siteConnectIconsResponsive {
		display: none;
		visibility: hidden;
	}
	li.siteCopyrightLeft {
		float: left;
		text-align: left;
	}
	li.siteCreditsRight {
		float: right;
		text-align: right;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1223px) {
	footer#siteFooter {
		height: 2em;
	}
	nav#siteStickyNav {
		display: block;
		visibility: visible;
	}
	nav#siteStickyNavProjectPage { 
		display: block;
		visibility: visible;
	}
	nav#siteStickyNavResponsive {
		display: none;
		visibility: hidden;
	}
	div.headingOne {
		border-top: thin solid rgba(220,220,220,1);
		margin: 0 15% 5% 15%;
		text-align: left;
		width: 70%;
	}
	div.workIntro {
		margin: 0 15% 2em 15%;
		padding: 0;
		text-align: left;
		width: 70%;
	}
	ul.portfolioGalleryTeaser {
		list-style-type: none;
		margin: 0 15%;
		padding: 0;
	}
	li.client {
		display: block;
		float: left;
		height: auto;
		margin: 0;
		padding: 0;
		width: 50%;
	}
	figcaption {
		background: rgba(51,51,51,.5);
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		vertical-align: middle;
		width: 100%;
	}
	figcaption div {
		color: rgba(255,255,255,1);
		display: block;
		height: 100%;
		opacity: 1;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		top: 40%;
		vertical-align: middle;
		width: 100%;
	}
	figure:hover figcaption {
		background: none
	}
	figcaption:hover div {
		opacity: 0;
	}
	article {
		display: block;
		padding: 0 15%;
	}
	div.headerTitle {
		float: left;
		margin: 0;
		width: 45%;
	}
	div.projectDescription {
		float: left;
		margin: 0;
		width: 55%;
	}
	div.contactListAbout {
		float: left;
		margin: 0 2.5% 12.5em 10%;
		padding: 0;
		text-align: right;
		width: 33.5%;
	}
	div.contactListContact {
		float: left;
		margin: 0 10% 12.5em 2.5%; /* px */
		padding: 0;
		text-align: left;
		width: 33.5%;
	}
	div.siteConnectIconsResponsive {
		display: none;
		visibility: hidden;
	}
	li.siteCopyrightLeft {
		float: left;
		text-align: left;
	}
	li.siteCreditsRight {
		float: right;
		text-align: right;
	}
}
@media only screen and (min-width: 1224px) and (max-width: 1679px) {
	footer#siteFooter {
		height: 2em;
	}
	nav#siteStickyNav {
		display: block;
		visibility: visible;
	}
	nav#siteStickyNavProjectPage { 
		display: block;
		visibility: visible;
	}
	nav#siteStickyNavResponsive {
		display: none;
		visibility: hidden;
	}
	div.headingOne {
		border-top: thin solid rgba(220,220,220,1);
		margin: 0 15% 5% 15%;
		text-align: left;
		width: 70%;
	}
	div.workIntro {
		margin: 0 15% 2em 15%;
		padding: 0;
		text-align: left;
		width: 70%;
	}
	ul.portfolioGalleryTeaser {
		list-style-type: none;
		margin: 0 15%;
		padding: 0;
	}
	li.client {
		display: block;
		float: left;
		height: auto; /* 20.57em; */
		margin: 0;
		padding: 0;
		width: 50%;
	}
	figcaption {
		background: none;
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		vertical-align: middle;
		width: 100%;
	}
	figcaption div {
		color: rgba(255,255,255,1);
		display: block;
		height: 100%;
		opacity: 0;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		top: 35%;
		vertical-align: middle;
		width: 100%;
	}
	figure:hover figcaption {
		background: rgba(51,51,51,.95);
	}
	figcaption:hover div {
		opacity: 1;
	}
	article {
		display: block;
		padding: 0 15%;
	}
	div.headerTitle {
		float: left;
		margin: 0;
		width: 50%;
	}
	div.projectDescription {
		float: left;
		margin: 0;
		width: 50%;
	}
	div.contactListAbout {
		float: left;
		margin: 0 2.5% 12.5em 10%;
		padding: 0;
		text-align: right;
		width: 33.5%;
	}
	div.contactListContact {
		float: left;
		margin: 0 10% 12.5em 2.5%; /* px */
		padding: 0;
		text-align: left;
		width: 33.5%;
	}
	div.siteConnectIconsResponsive {
		display: none;
		visibility: hidden;
	}
	li.siteCopyrightLeft {
		float: left;
		text-align: left;
	}
	li.siteCreditsRight {
		float: right;
		text-align: right;
	}
}