/* CSS reset code */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* + * { margin: 10px 0 0 0; }
/* End of CSS reset code */
body {
	background: url("../images/stripes.png") repeat-x, url("../images/background.jpg") no-repeat;
	background-color: #52596b;
	background-size: auto, cover;
	color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-weight: normal;
	/*line-height: 1.62em;
	height: auto;
	width: auto;*/
	padding: 0;
}
section{
	margin: 340px 0 0 150px;
}
hr {
	border: 1px solid #fd6e6e;
	width: 45px;
}
img { margin:10px 0 0 0;}
