/* CSS reset code */
* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* End of CSS reset code */
body {
	background: url("../images/kaleBackground.jpg") no-repeat;
	background-color: #272727;
	background-size: cover;
	border-left: 15px solid #272727;
	border-right: 15px solid #272727;
	border-top: 15px solid #272727;
	color: #3e3c3c;
	font-family: 'Tinos', "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.62em;
}
header#pageHeader {
	display: block;
	padding: 0 150px;
}
nav#pageNav {
	background-color: #272727;
	color: #ffffff;
	float: right;
	font-family: 'Noto Sans', "Century Gothic", Century, sans-serif;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: .1em;
	margin: 20px 0;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
h1 {
	clear: right;
	text-align: center;
}
section#pageIntroduction {
	background-color: #ffffff;
	margin: 70px auto 20px auto;
	padding: 40px 40px;
	text-align: center;
	width: 450px;
}
h2 {
	color: #3e3c3c;
	font-family: 'Noto Sans', "Century Gothic", Century, sans-serif;
	font-size: 32px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
h3 {
	color: #3e3c3c;
	font-family: "Century Schoolbook", "Century Gothic", Century, sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 40px;
}
#newsletterReservation {
	background-color: #ffffff;
	height: 150px;
	margin: 90px 0 0 0;
	text-align: center;
}
section#signUp {
	background-color: #ffffff;
	display: inline;
	float: left;
	height: 150px;
	margin: 0 0 0 520px;
	padding: 20px 20px 0 20px;
	text-align: center;
	width: 400px;
}
section#makeReservation {
	background-color: #ffffff;
	display: inline;
	float: right;
	height: 150px;
	margin: 0 520px 0 0;
	padding: 20px;
	text-align: center;
	width: 400px;
}
h4 {
	color: #3e3c3c;
	font-family: 'Tinos', "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
}
small {
	color: #817c7a;
	font-size: 10px;
	letter-spacing: .1em;
}
input {
	font-family: 'Noto Sans', "Century Gothic", Century, sans-serif;
	font-size: 12px;
	margin-top: 10px;
	padding: 10px;
}
input[type="text"] {
	background-color: #ffffff;
	border: thin solid #3e3c3c;
	color: #817c7a;
	text-align: left;
	width: 250px;
}
input[type="submit"] {
	background-color: #3e3c3c;
	border: none;
	color: #ffffff;
	font-weight: normal;
	letter-spacing: .1em;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
#makeareservation {
	background-color: #3e3c3c;
	color: #ffffff;
	font-family: 'Noto Sans', Century, sans-serif;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: .1em;
	margin: 10px auto 0 auto;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 330px;
}
#makeareservation a{
	color: #ffffff;
	text-decoration: none;
}
#makeareservation a:link {
	color: #ffffff;
}
#makeareservation a:visited {
	color: #ffffff;
}
#makeareservation a:hover {
	color: #9acd32;
}
#makeareservation a:active {
	color: #ffffff;
}
footer#pageFooter {
	background-color: #272727;
	clear: both;
	color: #817c7a;
	font-family: 'Tinos', Times, serif;
	font-size: 11px;
	letter-spacing: .1em;
	margin-top: 20px;
	padding: 5px 150px;
	text-align: center;
	word-spacing: 2px;
}
footer#pageFooter a {
	color: #817c7a;
	text-decoration: underline;
}
footer#pageFooter a:link {
	color: #817c7a;
	text-decoration: underline;
}
footer#pageFooter a:visited {
	color: #817c7a;
	text-decoration: underline;
}
footer#pageFooter a:hover {
	color: #9acd32;
	text-decoration: none;
}
footer#pageFooter a:active {
	color: #817c7a;
	text-decoration: underline;
}